@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.ttf')format('truetype');
}

body {
    background: #DDDDDD;
    height: 100%;
}

/* navbar */
.navbar {
    background: #007AE6;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 2;

}


.cover {
    background: #ADADAD;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.cover img {
    margin-left: 4px;
}

.icon {
    color: white;
}

.user-nama {
    display: in;
}

.nama-user {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


/* breadcrumb */
.breadcrumb-master {
    position: relative;
    height: 93.6px;
    background: #FFFFFF;
}

.breadcrumb-master .container .breadcrumb-header {
    font-family: 'poppins', sans-serif;
    font-size: 21px;
}

.breadcrumb-header{
    margin-left:7px ;
}


.breadcrumb-content {
    margin-left: 180px;
}

.breadcrumb-nav {
    position: absolute;
    bottom: 2px;
    left: 197px;
    background: none;
}

.breadcrumb-nav .breadcrumb {
    background: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

/* sidebar  */
p {
    font-family: 'poppins', sans-serif;

}

.wrapper {
    font-family: 'poppins', sans-serif;
    display: flex;
    height: 1000px;
    width: 74%;
    position: absolute;
    bottom: -836px;
    z-index: 2;

}

.wrapper a {
    text-decoration: none;
    color: grey;

}

#sidebar {
    min-width: 190px;
    max-width: 190px;
    background: white;

    height: calc(100% - 20px);

    transition: all 0.3s;
}

#sidebar .sidebar-header {
    background: #056AC2;
    height: 54px;
    margin: auto;
    padding-bottom: 12px;
    color: white;
    font-family: 'ROG Fonts';
    text-align: center;
}

#sidebar .sidebar-body {
    margin-top: 20px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
}


ul {
    margin: 0px;
    padding: 0px;
}

#sidebar .sidebar-list {
    color: #52616b;
    padding-bottom: 35px;
}

/* div.active {
    background: rgb(91, 196, 95);
    margin-right: ;
    width: 80%;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
} */
#pageSubmenu li {
    padding-bottom: 5px;
}

/* content */
.content1 {
    background-color: white;
    width: 70%;
    left: 10%;
    top: 30px;
    font-family: 'poppins', sans-serif;

}

table,
tr,
td {
    color: #54667A;
}

table .aksi {
    padding-left: 65px;
}

/* .breadcrumb contentt */
.sekolah-breadcrumb-header {
    font-size: 30px;
    font-family: 'poppins', sans-serif;
}

.header-table {
    margin-left: 10px;
    color: #455A64;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}


div.tambah {
    /* background: #007BFF;
    color: white; */
    margin-right: 20px;
    /* width: 10%;
    border-radius: 20px;
    height: 35px; */
}

/* div.tambah a {
    text-decoration: none;
    color: white;
    line-height: 35px;
    font-size:
        font-family: 'poppins', sans-serif;
    padding-left: 12px;
} */

/* end .breadcrumb-content */

/* endContent */
